.footer-container{
    background-color: #242424;
    padding: 2em 0 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: flex;
}

.footer-intouch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px ;
    color: #ffff;
}

.footer-intouch > p {
    font-family: 'Epilogue';

}

.footer-intouch-heading {
    margin-bottom: 24px;
    font-size: 24px;
}

.footer-intouch-text {
    margin-bottom: 24px;
    font-size: 20px;
}

.footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #ffff;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
}

.footer-link-wrapper {
    display: flex;

}
.footer-links-items{
    display:flex;
    align-items: flex-start;
    
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-links-items-links{
    margin-right: 50px;
    margin-top: 45px;
    font-size: 20px;
}


.footer-links-items h2{
    font-family: "epilogue";
    margin-right: 1.5em;
    font-size: 50pt;
    margin-left: 1.15em;
}

.footer-links-items > h2 {
    color: #ffff;
    font-family: "epilogue";
}
.footer-links-items a {
    color: #ffff;
    text-decoration: none;
    margin-bottom: 8px;
    font-family: "epilogue";
}
.footer-links-items a:hover {
    color: #a5a5a5;
    transition: ease-out .3s;
    transform: scale(1.1);
}

.footer-email-form h2 {
    margin-bottom: 32px;
}

.footer-input::placeholder{
    color: #b1b1b1;
}

/* social icons */

.social-icon-link {
    color: #ffff;
    font-size: 24px;
    text-decoration: none;
    
}
.social-media {
    max-width: 1000px;
    width: 100%;
}
.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
.scoial-icons{
    display: flex;
    justify: space-between;
    align-items: center;
    width: 240px;

}

.social-logo > img{
    color: #ffff;
    justify-self: start;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-bottom: 16px;
    max-width: 8.5rem;
}
.website-rights {
    margin-bottom: 16px;
    color: #ffff;
}
@media screen and (max-width: 820px){
    .footer-links {
        padding-top: 2rem;
        justify-content: center;
    }
    .footer-input {
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    .footer-links-wrapper{
        flex-direction: column;
    }
    .social-media-wrap{
        flex-direction: column;
    }
    .footer-links-items {
        flex-direction: column;
        text-align: center;
    }
    .footer-links-items > h2{
        font-size: 25px;
        margin: auto;
        margin-bottom: 15px;
    }
    
    
    .footer-links-items-links{
      
        font-size: 15px;
        flex-direction: column;
        margin: auto;
    }

    @media screen and (max-width: 420px){
        .footer-links {
            padding-top: 2rem;
        }
        .footer-input {
            width: 100%;
        }
        .btn{
            width: 100%;
        }
        .footer-links-wrapper{
            flex-direction: column;
        }
        .social-media-wrap{
            flex-direction: column;
        }
}
}