.jeep-bg {
    width: 100vw;
    filter: brightness(50%) grayscale(100) blur(3px);
    object-fit:cover;
    position: fixed;
    z-index: -1;
    height: 100%;
}
.jeep-landing-bg > img {
    width: 100vw;

}
.jeep-title-card > h1 {
    font-size: 100px;
    font-weight: bold;
    animation: fadeIn 3s;
    padding-top: 35vh;
    font-family: "Sora";
    color: white;
}
.jeep-title-card > h5 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    animation: fadeIn 3s;

    font-family: "Sora";
    color: rgb(136, 136, 136);
}
.jeep-landing {
    height: 100vh;
    width: auto;
}



#jeep-truck {
    margin-left: 75vh;
    width: 25%;
}
.jeep-disclosure > p{
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
   .jeep-title-card > h1 {
     font-size: 6.5vw;
   }
   .to-show {
        display: none;
   }

}
